html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

:focus {
  outline: 0; }

textarea {
  resize: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0; }
  .clearfix:after {
    clear: both; }

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.block-left {
  display: block;
  float: left; }

.block-right {
  display: block;
  float: right; }

.mt-0 {
  margin-top: 0px; }

.mr-0 {
  margin-right: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.ml-0 {
  margin-left: 0px; }

.mt-1 {
  margin-top: 1px; }

.mr-1 {
  margin-right: 1px; }

.mb-1 {
  margin-bottom: 1px; }

.ml-1 {
  margin-left: 1px; }

.mt-2 {
  margin-top: 2px; }

.mr-2 {
  margin-right: 2px; }

.mb-2 {
  margin-bottom: 2px; }

.ml-2 {
  margin-left: 2px; }

.mt-3 {
  margin-top: 3px; }

.mr-3 {
  margin-right: 3px; }

.mb-3 {
  margin-bottom: 3px; }

.ml-3 {
  margin-left: 3px; }

.mt-4 {
  margin-top: 4px; }

.mr-4 {
  margin-right: 4px; }

.mb-4 {
  margin-bottom: 4px; }

.ml-4 {
  margin-left: 4px; }

.mt-5 {
  margin-top: 5px; }

.mr-5 {
  margin-right: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.ml-5 {
  margin-left: 5px; }

.mt-6 {
  margin-top: 6px; }

.mr-6 {
  margin-right: 6px; }

.mb-6 {
  margin-bottom: 6px; }

.ml-6 {
  margin-left: 6px; }

.mt-7 {
  margin-top: 7px; }

.mr-7 {
  margin-right: 7px; }

.mb-7 {
  margin-bottom: 7px; }

.ml-7 {
  margin-left: 7px; }

.mt-8 {
  margin-top: 8px; }

.mr-8 {
  margin-right: 8px; }

.mb-8 {
  margin-bottom: 8px; }

.ml-8 {
  margin-left: 8px; }

.mt-9 {
  margin-top: 9px; }

.mr-9 {
  margin-right: 9px; }

.mb-9 {
  margin-bottom: 9px; }

.ml-9 {
  margin-left: 9px; }

.mt-10 {
  margin-top: 10px; }

.mr-10 {
  margin-right: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mt-15 {
  margin-top: 15px; }

.mr-15 {
  margin-right: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.ml-15 {
  margin-left: 15px; }

.mt-20 {
  margin-top: 20px; }

.mr-20 {
  margin-right: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.mt-25 {
  margin-top: 25px; }

.mr-25 {
  margin-right: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.ml-25 {
  margin-left: 25px; }

.mt-30 {
  margin-top: 30px; }

.mr-30 {
  margin-right: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-30 {
  margin-left: 30px; }

.mt-35 {
  margin-top: 35px; }

.mr-35 {
  margin-right: 35px; }

.mb-35 {
  margin-bottom: 35px; }

.ml-35 {
  margin-left: 35px; }

.mt-40 {
  margin-top: 40px; }

.mr-40 {
  margin-right: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-40 {
  margin-left: 40px; }

.mt-45 {
  margin-top: 45px; }

.mr-45 {
  margin-right: 45px; }

.mb-45 {
  margin-bottom: 45px; }

.ml-45 {
  margin-left: 45px; }

.mt-50 {
  margin-top: 50px; }

.mr-50 {
  margin-right: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.ml-50 {
  margin-left: 50px; }

.pt-0 {
  padding-top: 0px; }

.pr-0 {
  padding-right: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.pl-0 {
  padding-left: 0px; }

.pt-1 {
  padding-top: 1px; }

.pr-1 {
  padding-right: 1px; }

.pb-1 {
  padding-bottom: 1px; }

.pl-1 {
  padding-left: 1px; }

.pt-2 {
  padding-top: 2px; }

.pr-2 {
  padding-right: 2px; }

.pb-2 {
  padding-bottom: 2px; }

.pl-2 {
  padding-left: 2px; }

.pt-3 {
  padding-top: 3px; }

.pr-3 {
  padding-right: 3px; }

.pb-3 {
  padding-bottom: 3px; }

.pl-3 {
  padding-left: 3px; }

.pt-4 {
  padding-top: 4px; }

.pr-4 {
  padding-right: 4px; }

.pb-4 {
  padding-bottom: 4px; }

.pl-4 {
  padding-left: 4px; }

.pt-5 {
  padding-top: 5px; }

.pr-5 {
  padding-right: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.pl-5 {
  padding-left: 5px; }

.pt-6 {
  padding-top: 6px; }

.pr-6 {
  padding-right: 6px; }

.pb-6 {
  padding-bottom: 6px; }

.pl-6 {
  padding-left: 6px; }

.pt-7 {
  padding-top: 7px; }

.pr-7 {
  padding-right: 7px; }

.pb-7 {
  padding-bottom: 7px; }

.pl-7 {
  padding-left: 7px; }

.pt-8 {
  padding-top: 8px; }

.pr-8 {
  padding-right: 8px; }

.pb-8 {
  padding-bottom: 8px; }

.pl-8 {
  padding-left: 8px; }

.pt-9 {
  padding-top: 9px; }

.pr-9 {
  padding-right: 9px; }

.pb-9 {
  padding-bottom: 9px; }

.pl-9 {
  padding-left: 9px; }

.pt-10 {
  padding-top: 10px; }

.pr-10 {
  padding-right: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }

.pt-15 {
  padding-top: 15px; }

.pr-15 {
  padding-right: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pl-15 {
  padding-left: 15px; }

.pt-20 {
  padding-top: 20px; }

.pr-20 {
  padding-right: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.pl-20 {
  padding-left: 20px; }

.pt-25 {
  padding-top: 25px; }

.pr-25 {
  padding-right: 25px; }

.pb-25 {
  padding-bottom: 25px; }

.pl-25 {
  padding-left: 25px; }

.pt-30 {
  padding-top: 30px; }

.pr-30 {
  padding-right: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pl-30 {
  padding-left: 30px; }

.pt-35 {
  padding-top: 35px; }

.pr-35 {
  padding-right: 35px; }

.pb-35 {
  padding-bottom: 35px; }

.pl-35 {
  padding-left: 35px; }

.pt-40 {
  padding-top: 40px; }

.pr-40 {
  padding-right: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.pl-40 {
  padding-left: 40px; }

.pt-45 {
  padding-top: 45px; }

.pr-45 {
  padding-right: 45px; }

.pb-45 {
  padding-bottom: 45px; }

.pl-45 {
  padding-left: 45px; }

.pt-50 {
  padding-top: 50px; }

.pr-50 {
  padding-right: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.pl-50 {
  padding-left: 50px; }

@font-face {
  font-family: "Droid Sans";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/droid_sans.ttf) format(truetype), url(/assets/font/droid/droid_sans.eot) format(embedded-opentype), url(/assets/font/droid/droid_sans.svg) format(svg), url(/assets/font/droid/droid_sans.woff) format(woff); }

@font-face {
  font-family: "Droid Sans";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/droid_sans.ttf) format(truetype), url(/assets/font/droid/droid_sans.eot) format(embedded-opentype), url(/assets/font/droid/droid_sans.svg) format(svg), url(/assets/font/droid/droid_sans.woff) format(woff); }

@font-face {
  font-family: "Droid Sans";
  font-weight: bold;
  font-style: normal;
  src: url(/assets/font/droid/droid_sans-bold.ttf) format(truetype), url(/assets/font/droid/droid_sans-bold.eot) format(embedded-opentype), url(/assets/font/droid/droid_sans-bold.svg) format(svg), url(/assets/font/droid/droid_sans-bold.woff) format(woff); }

@font-face {
  font-family: "Droid Serif";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/droid_serif.ttf) format(truetype), url(/assets/font/droid/droid_serif.eot) format(embedded-opentype), url(/assets/font/droid/droid_serif.svg) format(svg), url(/assets/font/droid/droid_serif.woff) format(woff); }

@font-face {
  font-family: "Droid Serif";
  font-weight: bold;
  font-style: normal;
  src: url(/assets/font/droid/droid_serif-bold.ttf) format(truetype), url(/assets/font/droid/droid_serif-bold.eot) format(embedded-opentype), url(/assets/font/droid/droid_serif-bold.svg) format(svg), url(/assets/font/droid/droid_serif-bold.woff) format(woff); }

@font-face {
  font-family: "Droid Serif";
  font-weight: bold;
  font-style: italic;
  src: url(/assets/font/droid/droid_serif-bolditalic.ttf) format(truetype), url(/assets/font/droid/droid_serif-bolditalic.eot) format(embedded-opentype), url(/assets/font/droid/droid_serif-bolditalic.svg) format(svg), url(/assets/font/droid/droid_serif-bolditalic.woff) format(woff); }

@font-face {
  font-family: "Droid Serif";
  font-weight: normal;
  font-style: italic;
  src: url(/assets/font/droid/droid_serif-italic.ttf) format(truetype), url(/assets/font/droid/droid_serif-italic.eot) format(embedded-opentype), url(/assets/font/droid/droid_serif-italic.svg) format(svg), url(/assets/font/droid/droid_serif-italic.woff) format(woff); }

@font-face {
  font-family: "Droid Mono";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/droid_mono.ttf) format(truetype), url(/assets/font/droid/droid_mono.eot) format(embedded-opentype), url(/assets/font/droid/droid_mono.svg) format(svg), url(/assets/font/droid/droid_mono.woff) format(woff); }

@font-face {
  font-family: "allerbold";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/aller_bd-webfont.ttf) format(truetype), url(/assets/font/droid/aller_bd-webfont.eot) format(embedded-opentype), url(/assets/font/droid/aller_bd-webfont.svg) format(svg), url(/assets/font/droid/aller_bd-webfont.woff) format(woff); }

@font-face {
  font-family: "allerbold_italic";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/aller_bdit-webfont.ttf) format(truetype), url(/assets/font/droid/aller_bdit-webfont.eot) format(embedded-opentype), url(/assets/font/droid/aller_bdit-webfont.svg) format(svg), url(/assets/font/droid/aller_bdit-webfont.woff) format(woff); }

@font-face {
  font-family: "alleritalic";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/aller_it-webfont.ttf) format(truetype), url(/assets/font/droid/aller_it-webfont.eot) format(embedded-opentype), url(/assets/font/droid/aller_it-webfont.svg) format(svg), url(/assets/font/droid/aller_it-webfont.woff) format(woff); }

@font-face {
  font-family: "aller_lightregular";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/aller_lt-webfont.ttf) format(truetype), url(/assets/font/droid/aller_lt-webfont.eot) format(embedded-opentype), url(/assets/font/droid/aller_lt-webfont.svg) format(svg), url(/assets/font/droid/aller_lt-webfont.woff) format(woff); }

@font-face {
  font-family: "aller_lightitalic";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/aller_ltit-webfont.ttf) format(truetype), url(/assets/font/droid/aller_ltit-webfont.eot) format(embedded-opentype), url(/assets/font/droid/aller_ltit-webfont.svg) format(svg), url(/assets/font/droid/aller_ltit-webfont.woff) format(woff); }

@font-face {
  font-family: "allerregular";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/aller_rg-webfont.ttf) format(truetype), url(/assets/font/droid/aller_rg-webfont.eot) format(embedded-opentype), url(/assets/font/droid/aller_rg-webfont.svg) format(svg), url(/assets/font/droid/aller_rg-webfont.woff) format(woff); }

@font-face {
  font-family: "aller_displayregular";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/font/droid/allerdisplay-webfont.ttf) format(truetype), url(/assets/font/droid/allerdisplay-webfont.eot) format(embedded-opentype), url(/assets/font/droid/allerdisplay-webfont.svg) format(svg), url(/assets/font/droid/allerdisplay-webfont.woff) format(woff); }

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .container .row {
      *zoom: 1; }
      .container .row:before, .container .row:after {
        content: "";
        display: table;
        line-height: 0; }
      .container .row:after {
        clear: both; }
    .container .span-1 {
      width: 8.33333%; }
    .container .span-2 {
      width: 16.66667%; }
    .container .span-3 {
      width: 25%; }
    .container .span-4 {
      width: 33.33333%; }
    .container .span-5 {
      width: 41.66667%; }
    .container .span-6 {
      width: 50%; }
    .container .span-7 {
      width: 58.33333%; }
    .container .span-8 {
      width: 66.66667%; }
    .container .span-9 {
      width: 75%; }
    .container .span-10 {
      width: 83.33333%; }
    .container .span-11 {
      width: 91.66667%; }
    .container .span-12 {
      width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .container .row {
      *zoom: 1; }
      .container .row:before, .container .row:after {
        content: "";
        display: table;
        line-height: 0; }
      .container .row:after {
        clear: both; }
    .container .span-1 {
      width: 8.33333%; }
    .container .span-2 {
      width: 16.66667%; }
    .container .span-3 {
      width: 25%; }
    .container .span-4 {
      width: 33.33333%; }
    .container .span-5 {
      width: 41.66667%; }
    .container .span-6 {
      width: 50%; }
    .container .span-7 {
      width: 58.33333%; }
    .container .span-8 {
      width: 66.66667%; }
    .container .span-9 {
      width: 75%; }
    .container .span-10 {
      width: 83.33333%; }
    .container .span-11 {
      width: 91.66667%; }
    .container .span-12 {
      width: 100%; } }
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .container .row {
      *zoom: 1; }
      .container .row:before, .container .row:after {
        content: "";
        display: table;
        line-height: 0; }
      .container .row:after {
        clear: both; }
    .container .span-1 {
      width: 66.66667px; }
    .container .span-2 {
      width: 133.33333px; }
    .container .span-3 {
      width: 200px; }
    .container .span-4 {
      width: 266.66667px; }
    .container .span-5 {
      width: 333.33333px; }
    .container .span-6 {
      width: 400px; }
    .container .span-7 {
      width: 466.66667px; }
    .container .span-8 {
      width: 533.33333px; }
    .container .span-9 {
      width: 600px; }
    .container .span-10 {
      width: 666.66667px; }
    .container .span-11 {
      width: 733.33333px; }
    .container .span-12 {
      width: 800px; } }
@media screen and (min-width: 1200px) {
  .container {
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .container .row {
      *zoom: 1; }
      .container .row:before, .container .row:after {
        content: "";
        display: table;
        line-height: 0; }
      .container .row:after {
        clear: both; }
    .container .span-1 {
      width: 75px; }
    .container .span-2 {
      width: 150px; }
    .container .span-3 {
      width: 225px; }
    .container .span-4 {
      width: 300px; }
    .container .span-5 {
      width: 375px; }
    .container .span-6 {
      width: 450px; }
    .container .span-7 {
      width: 525px; }
    .container .span-8 {
      width: 600px; }
    .container .span-9 {
      width: 675px; }
    .container .span-10 {
      width: 750px; }
    .container .span-11 {
      width: 825px; }
    .container .span-12 {
      width: 900px; } }
